/* reset a todos los estilos */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* color de fondo */

body{
    background: rgb(246,230,139);
    background: linear-gradient(90deg, rgba(246,230,139,1) 2%, rgba(171,157,79,1) 92%);
}

/* centrado del titulo e imagen */

header .portada{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    font-family: 'Yellowtail', cursive;
    font-size: 1.5rem;
    gap: 2rem;
}

header .portada .imagenportada{
    border-radius: 80%;
}

header .portada h1{
    text-align: center;
}



/* centrado del menu con su respectiva caja contenedora */

header .menu ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

header .menu ul li{
    display: flex;
    flex-wrap: wrap;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding-left: 1rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header .menu ul li:hover{
    box-shadow: 5px 10px 10px  rgb(93, 91, 91);
    transform: scale(1.1);
    transition: 0.5s;
}
.linkMenu{
    color: black;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
header nav ul{
    justify-content: center;
    border: 0.15rem solid;
    border-radius: 3rem;
    margin: auto;
    width: 36%;
    padding-top: 1%;
    display: block;
}
/* Color del main como centralizacion del texto*/
main{
    background: rgb(246,230,139);
    background: linear-gradient(90deg, rgba(246,230,139,1) 2%, rgba(171,157,79,1) 92%);
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 20px;
    padding-bottom: auto;
}

.paginanosotros{
    padding-bottom: 3rem;
}

.paginanosotros div .cajatexto{
    margin: 3rem;
}
.paginanosotros div .cajatexto .parrafo{
    font-size: 1rem;
    text-align: justify;
}

.paginaprincipal{
    display: grid;
    grid-template-areas: "descripcion descripcion descripcion fechas"
                         "descripcion descripcion descripcion fechas"
                         "descripcion descripcion descripcion fechas"
                         "descripcion descripcion descripcion fechas"
                         "imagen1 imagen2 imagen3 imagen4"
                         "imagen1 imagen2 imagen3 imagen4";
    gap: 1rem;
    justify-content: space-evenly;  
}

#carouselExampleControls{
    display: none;
}

main .introduccion{
    border: 2px solid;
    margin: auto;
    font-size: 1rem;
    grid-area: descripcion;
    margin-bottom: 10rem;
    margin-top: 10rem;
}

main .fechas{
    border: 2px solid;
    grid-area: fechas;
    margin-bottom: 10rem;
    margin-top: 10rem;
}

main .fechas p{
    font-size: 1rem;
}




/* Ajuste de dimensiones de la forma ademas de centralizacion*/
main form{
    padding-top: 20px;
    padding-bottom: 300px;
}
main form fieldset .mensajeforma{
    padding-bottom: 100px;
    overflow-y: auto;
}

/*Utilizacion de Lorem como referencia, en el futuro hay que cambiar tanto el color de la imagen de fondo para el contraste con la letra como el texto del mismo*/
main div .parrafo{
    text-align: center;
}

/*Color y ajuste del footer*/
.volverArriba{
    color: black;
}
footer{
    background: rgb(246,230,139);
    background: linear-gradient(90deg, rgba(246,230,139,1) 2%, rgba(171,157,79,1) 92%);
    padding-left: 20px;
    margin-top: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

@media screen and (max-width: 768px){

    header .portada .imagenportada{
        margin-right: 5%;
    }

    .paginaprincipal{
        display: grid;
        grid-template-areas: "descripcion"
                             "descripcion";    
        gap: 5px;    
    }
    
    main .imagenes1{
        display: none;
    }

    main .imagenes2{
        display: none;
    }

    main .imagenes3{
        display: none;
    }

    main .imagenes4{
        display: none;
    }

    #carouselExampleControls{
        display: block;
    }

    main div .introduccion{
        grid-area: descripcion;
        justify-content: center;
    }

    main .fechas{
        display: none;
    }

    h2{
        margin: auto;
        width: 20%;
        margin-top: 8%;
        margin-bottom: 1%;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        border: 2px solid;
        border-radius: 0.8rem;
    }
}

@media screen and (min-width: 1024px){

    main .imagenes1:hover{
        grid-area: imagen1;
        transform: scale(1.3);
        transition: 1s;
    }
    
    main .imagenes2:hover{
        grid-area: imagen2;
        transform: scale(1.3);
        transition: 1s;
    }
    
    main .imagenes3:hover{
        grid-area: imagen3;
        transform: scale(1.3);
        transition: 1s;
    }
    
    main .imagenes4:hover{
        grid-area: imagen4;
        transform: scale(1.3);
        transition: 1s;
    }

    .paginanosotros div .cajatexto .parrafo{
        font-size: 2rem;
        text-align: justify;
    }

}