/* reset a todos los estilos */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

// Variables 

$color-principal1: rgb(246,230,139);
$color-principal2: rgb(171,157,79);

body{
    background: $color-principal1;
    background: linear-gradient(90deg, $color-principal1 2%, $color-principal2 92%);
}

header{
    .portada{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 4rem;
        font-family: 'Yellowtail', cursive;
        font-size: 1.5rem;
        gap: 2rem;
        .imagenportada{
            border-radius: 80%;
        }
        h1{
            text-align: center;
        }
    }
}

/* Main page */

main{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 20px;
    padding-bottom: auto;
}

.paginaprincipal{
    display: grid;
    grid-template-areas: "descripcion descripcion descripcion fechas"
                         "descripcion descripcion descripcion fechas"
                         "descripcion descripcion descripcion fechas"
                         "descripcion descripcion descripcion fechas"
                         "imagen1 imagen2 imagen3 imagen4"
                         "imagen1 imagen2 imagen3 imagen4";
    gap: 1rem;
    justify-content: space-evenly;
    .introduccion{
        border: 2px solid;
        margin: auto;
        font-size: 1rem;
        grid-area: descripcion;
        margin-bottom: 10rem;
        margin-top: 10rem;
    }
    .fechas{
        border: 2px solid;
        grid-area: fechas;
        margin-bottom: 10rem;
        margin-top: 10rem;
        p{
            font-size: 1rem;
        }
    }
}

#carouselExampleControls{
    display: none;
}


/* Nosotros page */

.paginanosotros{
    padding-bottom: 3rem;
}

.paginanosotros div .cajatexto{
    margin: 3rem;
}
.paginanosotros div .cajatexto .parrafo{
    font-size: 1rem;
    text-align: justify;
}

/* Ajuste de dimensiones de la forma ademas de centralizacion*/
main form{
    padding-top: 20px;
    padding-bottom: 300px;
}
main form fieldset .mensajeforma{
    padding-bottom: 100px;
    overflow-y: auto;
}

/*Utilizacion de Lorem como referencia, en el futuro hay que cambiar tanto el color de la imagen de fondo para el contraste con la letra como el texto del mismo*/
main div .parrafo{
    text-align: center;
}

/*Color y ajuste del footer*/
.volverArriba{
    color: black;
}
footer{
    background: rgb(246,230,139);
    background: linear-gradient(90deg, rgba(246,230,139,1) 2%, rgba(171,157,79,1) 92%);
    padding-left: 20px;
    margin-top: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

@media screen and (max-width: 768px){
    header{
        .portada{
            .imagenportada{
                margin-right: 5%;
            }
        }
    }
    .paginaprincipal{
        display: grid;
        grid-template-areas: "descripcion";    
        gap: 5px; 
        .introduccion{
            p{
                margin: 4rem; 
            }
        } 
        .fechas{
            display: none; 
        } 
    }
    main{
        .imagenes1{
            display: none;
        }
        .imagenes2{
            display: none;
        }
        .imagenes3{
            display: none;
        }
        .imagenes4{
            display: none;
        }
    }
    #carouselExampleControls{
        display: block;
    }
    h2{
        margin: auto;
        width: 20%;
        margin-top: 8%;
        margin-bottom: 1%;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: center;
        border: 2px solid;
        border-radius: 0.8rem;
    }
}

@media screen and (min-width: 1024px){
    header{
        .cajamenu{
            .navbar{
                .itemsmenu{
                    .linkmenu{
                        display: none;
                    }
                }
            }
        }
    }   
    .paginaprincipal{
        .imagenes1{
            &:hover{
                grid-area: imagen1;
                transform: scale(1.3);
                transition: 1s; 
            }
        }
        .imagenes2{
            &:hover{
                grid-area: imagen2;
                transform: scale(1.3);
                transition: 1s;
            }
        }
        .imagenes3{
            &:hover{
                grid-area: imagen3;
                transform: scale(1.3);
                transition: 1s;
            }
        }
        .imagenes4{
            &:hover{
                grid-area: imagen4;
                transform: scale(1.3);
                transition: 1s;
            }
        }
    }
    .paginanosotros div .cajatexto .parrafo{
        font-size: 2rem;
        text-align: justify;
    }
}