/* reset a todos los estilos */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

// Variables 

$color-principal1: rgb(246,230,139);
$color-principal2: rgb(171,157,79);
$color-menu-barra: #d2b617;

/* color fondo */

body{
    background: $color-principal1;
    background: linear-gradient(90deg, $color-principal1 2%, $color-principal2 92%);
}

/* Mixins */

@mixin flex-column-center{
    display: flex;
    flex-direction: column;  
}

/* imagen de portada */

header{
    .portada{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 4rem;
        font-family: 'Yellowtail', cursive;
        font-size: 1.5rem;
        gap: 2rem;
        .imagenportada{
            border-radius: 80%;
        }
        h1{
            text-align: center;
        }
    }
    
}

/* Inicio page */

.paginaprincipal{
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    display: grid;
    grid-template-areas: "descripcion descripcion descripcion descripcion"
                         "descripcion descripcion descripcion descripcion"
                         "descripcion descripcion descripcion descripcion"
                         "imagen1 imagen2 imagen3 imagen4"
                         "imagen1 imagen2 imagen3 imagen4";
    gap: 1rem;
    justify-content: space-evenly;
    .introduccion{
        font-size: 1.2rem;
        grid-area: descripcion;
        margin-bottom: 7rem;
        margin-top: 7rem;
    }
    #carouselExampleControls{
        display: none;
    }
}



/* Producto Page */

.productomain{
    .contenedorproducto{
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
        .imagenesproductocolumna{
            flex: 25%;
            max-width: 25%;
            padding: 0 4px;
            img{
                margin-top: 8px;
                vertical-align: middle;
                width: 100%;
            }
        }
    }
}


/* Nosotros page */

.paginanosotros{
    padding-bottom: 3rem;
    div{
        .cajatexto{
            margin: 3rem;
            align-items: center;
            font-family: 'Nanum Gothic', sans-serif;
            .parrafo{
                font-size: 1rem; 
                text-align: justify;
            }
        }
    }
}

/* Contacto page */

.contactomain{
    display: flex;
    justify-content: space-between;
    .formacontacto{
    margin: 5rem;
    font-family: 'Nanum Gothic', sans-serif;
    }   
    .mapacontacto{
        margin-top: 2rem;
        margin-bottom: 5rem;
    }
}


/* Conoce mas page */

.conocemasmain div{
    @include flex-column-center;
    font-family: 'Nanum Gothic', sans-serif;
    justify-content:center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    .informacioncursos{
        @extend .conocemasmain;
        font-weight: bold;
        flex-direction: row;
        margin-top: 8rem;
        margin-left: 3rem;
        margin-right: 3rem;
        background-color: $color-principal2;
        text-align: center;
    }
    .acordeonconocemas1{
        margin-left: 3rem;
        margin-right: 3rem;
        margin-top: -1.4rem;
        .acordeoncurso1{
            background-color: $color-principal2;
            h2{
                .boton1{
                    background-color: $color-principal1;
                    font-weight: bold;
                }
                :focus{
                    box-shadow: none;
                }
                
            }
        }
        .acordeoncurso2{
            @extend .acordeoncurso1;
        }
        .acordeoncurso3{
            @extend .acordeoncurso1;
        }
    }


    .fechascursos{
        @extend .conocemasmain;
        font-weight: bold;
        flex-direction: row;
        margin-top: 5rem;
        margin-left: 3rem;
        margin-right: 3rem;
        background-color: $color-principal1;
    }
    .acordeonconocemas2{
        margin-left: 3rem;
        margin-right: 3rem;
        margin-top: -1.2rem;
        .acordeoncurso4{
            background-color: $color-principal1;
            h2{
                .boton2{
                    background-color: $color-principal2;
                    font-weight: bold
                }
                :focus{
                    box-shadow: none;
                }
            }
            div{
                div{
                    font-size: 1.5rem;
                    .fechasinicial{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        a{
                            text-decoration: none;
                            color: black
                        }
                    }
                    .fechasintermedio{
                        @extend .fechasinicial;
                    }
                    .fechasavanzado{
                        @extend .fechasinicial;
                    }
                }
            }
        }
        .acordeoncurso5{
            @extend .acordeoncurso4;
        }
        .acordeoncurso6{
            @extend .acordeoncurso4;
        }
    }
}

/*Color y ajuste del footer*/

.volverArriba{
    color: black;
}
footer{
    margin-top: 1.5rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    div{
        margin: 0.8rem;
    }
}

/* Version celular */

@media screen and (max-width: 768px){
    header{
        .portada{
            .imagenportada{
                margin-right: 5%;
            }
        }
    }
    .paginaprincipal{
        display: grid;
        grid-template-areas: "descripcion";    
        gap: 5px; 
        .introduccion{
            margin: 4rem 1rem 7rem 1rem;
        } 
        .fechas{
            display: none; 
        } 
        #carouselExampleControls{
            display: block;
        }
    }
    main{
        .imagenes1{
            display: none;
        }
        .imagenes2{
            display: none;
        }
        .imagenes3{
            display: none;
        }
        .imagenes4{
            display: none;
        }
    }

    .conocemasmain{
        div{
            .informacioncursos{
                p{
                    text-align: center;
                }
            }
            .acordeonconocemas1{
                .acordeoncurso1{
                    h2{
                        .boton1{
                            padding: auto;
                        }
                    }
                }
            }
            .fechascursos{
                p{
                    text-align: center;
                }       
            }
            .acordeonconocemas2{
                .acordeoncurso4{
                    div{
                        div{
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
        
    }

    .contactomain{
        flex-direction: column;
        align-items: center;
        .formacontacto{
            margin-left: 7rem;
        }
        .mapacontacto{  
            .mapita{
                height: 300px;
                width: 300px;
            }
        }
    }
    .productomain{
        .contenedorproducto{
            .imagenesproductocolumna{
                flex: 100%;
                max-width: 100%
            }
        }
    }
}

/* Version PC */

@media screen and (min-width: 1024px){
    header{
        .cajamenu{
            .navbar{
                .itemsmenu{
                    margin-left: 35%;
                    .linkmenu{
                        display: none;
                    }
                }
            }
        }
    }   
    .paginaprincipal{
        .imagenes1{
            &:hover{
                grid-area: imagen1;
                transform: scale(1.3);
                transition: 1s; 
            }
        }
        .imagenes2{
            &:hover{
                grid-area: imagen2;
                transform: scale(1.3);
                transition: 1s;
            }
        }
        .imagenes3{
            &:hover{
                grid-area: imagen3;
                transform: scale(1.3);
                transition: 1s;
            }
        }
        .imagenes4{
            &:hover{
                grid-area: imagen4;
                transform: scale(1.3);
                transition: 1s;
            }
        }
    }
    .paginanosotros div .cajatexto .parrafo{
        font-size: 2rem;
        text-align: justify;
    }
}